start_order: 1
image: "{{ tripleo_ovn_controller_image }}"
net: host
privileged: true
user: root
restart: always
depends_on:
  - openvswitch.service
{% if tripleo_ovn_cpu_set|default(false) %}
cpuset_cpus: "{{ tripleo_ovn_cpu_set }}"
{% endif -%}
healthcheck:
  test: '/openstack/healthcheck {{ tripleo_ovn_sb_server_port }}'
volumes:
  {% set tripleo_ovn_controller_volumes = [] %}
  {%- set tripleo_ovn_controller_volumes =
          tripleo_ovn_controller_volumes +
          tripleo_ovn_controller_common_volumes %}
  {%- if tripleo_enable_internal_tls|bool -%}
  {%- set tripleo_ovn_controller_volumes =
         tripleo_ovn_controller_volumes +
         tripleo_ovn_controller_common_volumes +
         tripleo_ovn_controller_tls_volumes -%}
  {% endif %}
  {{ tripleo_ovn_controller_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
