---
# Copyright 2019 Red Hat, Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


- name: Converge
  become: true
  hosts: all
  roles:
    - role: backup-and-restore
      tripleo_backup_and_restore_nfs_server: undercloud
      tripleo_container_cli: docker
      tripleo_backup_and_restore_rear_simulate: true
      tripleo_backup_and_restore_service_manager: false
      tripleo_backup_and_restore_hiera_config_file: "{{ ansible_user_dir }}/hiera.yaml"
  vars:
    ansible_python_interpreter: "{{ ansible_user_dir }}/test-python/bin/python"
