*.py[cod]

# Testing cruft
.tox
.venv
*.egg*
egg
.coverage
cover
.tox
nosetests.xml
.testrepository
.venv
.stestr
tripleo_ansible.egg-info/
__pycache__
build

# Editors
*~
.*.swp
.*sw?

# Playbook retry files
*.retry

# roles
tripleo_ansible/roles.galaxy/*

# Sphinx
doc/build

ansible-errors.json
pytestdebug.log

# doc
doc/build/*
