# this is required for the molecule jobs
ansible
ansi2html
docker
openstacksdk
pytest
pytest-cov
pytest-html
pytest-xdist
mock
molecule>=3.0,<3.1
ruamel.yaml
testinfra
netaddr
jinja2>=2.8.0,<3

# this is required for the docs build jobs
sphinx>=1.8.0,<2.0.0;python_version=='2.7' # BSD
sphinx>=1.8.0,!=2.1.0;python_version>='3.4' # BSD
openstackdocstheme>=1.29.2 # Apache-2.0
reno>=2.11.3 # Apache-2.0
doc8>=0.8.0 # Apache-2.0
bashate>=0.6.0 # Apache-2.0
