# this is required for the molecule jobs
ansi2html
# https://github.com/sqlalchemy/dogpile.cache/issues/178 (openstacksdk)
dogpile.cache>=0.6.5,!=0.9.1  # MIT
openstacksdk
pytest
pytest-cov
pytest-html
pytest-testinfra
pytest-xdist
mock
molecule>=3.3.4
molecule-podman>=1.0.0a1
ruamel.yaml
netaddr
jinja2

ansible-core<2.12.0

# Upstream requirements from constraints.txt
tripleo-common
os-net-config  # Apache-2.0
