# this is required for the molecule jobs
ansi2html
# https://github.com/sqlalchemy/dogpile.cache/issues/178 (openstacksdk)
dogpile.cache>=0.6.5,!=0.9.1  # MIT
openstacksdk<1.3.0;python_version<"3.7"
openstacksdk
pytest
pytest-cov
pytest-html
pytest-xdist
mock
molecule>=3.3.4
molecule-podman>=1.0.0a1
ruamel.yaml
testinfra
netaddr
jinja2
cryptography

# this is required for the docs build jobs
ansible-core<2.12.0
sphinx>=2.0.0,!=2.1.0 # BSD
openstackdocstheme>=2.2.1 # Apache-2.0
reno>=3.1.0 # Apache-2.0
doc8>=0.8.1 # Apache-2.0
bashate>=0.6.0 # Apache-2.0
metalsmith>=1.4.0 # Apache-2.0
jsonschema  # MIT

# Upstream requirements from constraints.txt
tripleo-common
os-net-config  # Apache-2.0
# LP#2018311 workaround
# More: https://github.com/ansible-community/molecule/issues/3903
ansible-compat<=4.0.0
