  # TLS configuration
  SSLEngine on
  SSLCertificateFile      "{{ tripleo_httpd_vhost_ssl_cert }}"
  SSLCertificateKeyFile   "{{ tripleo_httpd_vhost_ssl_key }}"
{% if tripleo_httpd_vhost_ssl_ca %}
  SSLCACertificateFile "{{ tripleo_httpd_vhost_ssl_ca }}"
{% endif %}
{% if tripleo_httpd_vhost_ssl_verify_client %}
  SSLVerifyClient {{ tripleo_httpd_vhost_ssl_verify_client }}
{% endif %}
{% if tripleo_httpd_vhost_ssl_chain %}
  SSLCertificateChainFile "{{ tripleo_httpd_vhost_ssl_chain }}"
{% endif %}
{% if tripleo_httpd_vhost_ssl_crl_path %}
  SSLCARevocationPath "{{ tripleo_httpd_vhost_ssl_crl_path }}"
{% endif %}
{% if tripleo_httpd_vhost_ssl_crl %}
  SSLCARevocationFile "{{ tripleo_httpd_vhost_ssl_crl }}"
{% endif %}
{% if tripleo_httpd_vhost_ssl_certs_dir %}
  SSLCACertificatePath "{{ tripleo_httpd_vhost_ssl_certs_dir }}"
{% endif %}
