  ## WSGI configuration
{% set default_wsgi_opts = {'user': tripleo_httpd_vhost_user, 'group': tripleo_httpd_vhost_group, 'processes': tripleo_httpd_vhost_workers, 'threads': tripleo_httpd_vhost_threads, 'display-name': tripleo_httpd_vhost_wsgi_process_display_name} -%}
{% set default_script_opts = {'process-group': tripleo_httpd_vhost_wsgi_daemon_process, 'application-group': tripleo_httpd_vhost_wsgi_application_group} -%}
{% set wsgi_opt = default_wsgi_opts|combine(tripleo_httpd_vhost_custom_wsgi_process_options) -%}
{% set script_opt = default_script_opts|combine(tripleo_httpd_vhost_wsgi_import_script_options) -%}
{% set path_real = tripleo_httpd_vhost_path | regex_replace('(^/.*)/$', '\1') -%}

{% if tripleo_httpd_vhost_wsgi_daemon_process is string %}
  WSGIDaemonProcess {{ tripleo_httpd_vhost_wsgi_daemon_process }} {{ wsgi_opt.items()|map('join', '=')|join(' ') }}
{% elif tripleo_httpd_vhost_wsgi_daemon_process is mapping %}
{%   for key, value in tripleo_httpd_vhost_wsgi_daemon_process.items() %}
{%     if value %}
  WSGIDaemonProcess {{ key }} {{ value.items()|map('join', '=')|join(' ') }}
{%     else %}
  WSGIDaemonProcess {{ key }}
{%     endif %}
{%   endfor -%}
{% endif %}

{%- if tripleo_httpd_vhost_wsgi_process_group %}
  WSGIProcessGroup "{{ tripleo_httpd_vhost_wsgi_process_group }}"
{% endif %}

{%- for key, value in tripleo_httpd_vhost_wsgi_script_alias.items() %}
  WSGIScriptAlias {{ key  }} "{{ value }}"
{% endfor %}

{%- if tripleo_httpd_vhost_wsgi_application_group %}
  WSGIApplicationGroup "{{ tripleo_httpd_vhost_wsgi_application_group }}"
{% endif -%}

{%- if tripleo_httpd_vhost_wsgi_pass_authorization %}
  WSGIPassAuthorization {{ tripleo_httpd_vhost_wsgi_pass_authorization }}
{% endif -%}

{%- if tripleo_httpd_vhost_wsgi_chunked_request %}
  WSGIChunkedRequest {{ tripleo_httpd_vhost_wsgi_chunked_request }}
{% endif -%}
