# {{ ansible_managed }}

watchfrr_enable={{ 'yes' if tripleo_frr_watchfrr else 'no' }}
{% if tripleo_frr_watchfrr and tripleo_frr_watchfrr_options != '' %}
watchfrr_options="{{ tripleo_frr_watchfrr_options }}"
{% endif %}
#
zebra={{ 'yes' if tripleo_frr_zebra else 'no' }}
bgpd={{ 'yes' if tripleo_frr_bgp else 'no' }}
ospfd=no
ospf6d=no
ripd=no
ripngd=no
isisd=no
pimd=no
nhrpd=no
eigrpd=no
sharpd=no
pbrd=no
staticd=no
bfdd={{ 'yes' if tripleo_frr_bfd else 'no' }}
fabricd=no

#
# Command line options for the daemons
#
zebra_options=("-A 127.0.0.1 -r")
bgpd_options=("-A 127.0.0.1")
ospfd_options=("-A 127.0.0.1")
ospf6d_options=("-A ::1")
ripd_options=("-A 127.0.0.1")
ripngd_options=("-A ::1")
isisd_options=("-A 127.0.0.1")
pimd_options=("-A 127.0.0.1")
nhrpd_options=("-A 127.0.0.1")
eigrpd_options=("-A 127.0.0.1")
sharpd_options=("-A 127.0.0.1")
pbrd_options=("-A 127.0.0.1")
staticd_options=("-A 127.0.0.1")
bfdd_options=("-A 127.0.0.1")
fabricd_options=("-A 127.0.0.1")

#
# If the vtysh_enable is yes, then the unified config is read
# and applied if it exists.  If no unified frr.conf exists
# then the per-daemon <daemon>.conf files are used)
# If vtysh_enable is no or non-existant, the frr.conf is ignored.
# it is highly suggested to have this set to yes
vtysh_enable=yes

# Allow frr to be started by non-root users
FRR_NO_ROOT="yes"
