! {{ ansible_managed }}

frr version {{ tripleo_frr_version }}
frr defaults {{ tripleo_frr_defaults }}
hostname {{ tripleo_frr_hostname }}
log file /var/log/frr/frr.log {{ tripleo_frr_log_level }}
log timestamp precision {{ tripleo_frr_log_timestamp_precision }}
service integrated-vtysh-config
line vty
{{ tripleo_frr_conf_custom_globals }}

router bgp {{ tripleo_frr_bgp_asn }}
  bgp router-id {{ tripleo_frr_router_id if tripleo_frr_router_id != '' else hostvars[inventory_hostname][tripleo_frr_bgp_ipv4_src_network ~ '_ip'] }}
  bgp log-neighbor-changes
  bgp graceful-shutdown
  no bgp default ipv4-unicast
  no bgp ebgp-requires-policy
  {{ tripleo_frr_conf_custom_router_bgp }}

  neighbor uplink peer-group
  neighbor uplink remote-as {{ tripleo_frr_bgp_uplinks_scope }}
{% if tripleo_frr_bgp_neighbor_password|length %}
  neighbor uplink password {{ tripleo_frr_bgp_neighbor_password }}
{% endif %}
  ! neighbor uplink capability extended-nexthop
{% if tripleo_frr_bfd %}
  neighbor uplink bfd
  neighbor uplink bfd profile tripleo
{% endif %}
{% if tripleo_frr_bgp_peers %}
{% for peer in tripleo_frr_bgp_peers %}
  neighbor {{ peer }} peer-group uplink
{% endfor %}
{% else %}
{% for iface in tripleo_frr_bgp_uplinks_mapped %}
  neighbor {{ iface }} interface peer-group uplink
{% endfor %}
{% endif %}

{% if tripleo_frr_bgp_neighbor_ttl_security_hops | int > 0 %}
  neighbor uplink ttl-security hops {{ tripleo_frr_bgp_neighbor_ttl_security_hops }}
{% endif %}
{% if tripleo_frr_bgp_l2vpn|bool and tripleo_frr_bgp_l2vpn_peers|length %}
  neighbor evpn-peer peer-group
  neighbor evpn-peer remote-as {{ tripleo_frr_bgp_l2vpn_peers_scope }}
{% if tripleo_frr_bgp_l2vpn_ebgp_multihop | int > 0 %}
  neighbor evpn-peer ebgp-multihop {{ tripleo_frr_bgp_l2vpn_ebgp_multihop }}
{% endif %}
{% endif %}

{% if tripleo_frr_bgp_ipv4 %}
  address-family ipv4 unicast
    redistribute connected
    neighbor uplink activate
{% if tripleo_frr_bgp_ipv4_allowas_in %}
    neighbor uplink allowas-in origin
{% endif %}
    neighbor uplink prefix-list only-host-prefixes out
  exit-address-family
{% endif %}

{% if tripleo_frr_bgp_ipv6 %}
  address-family ipv6 unicast
    redistribute connected
    neighbor uplink activate
{% if tripleo_frr_bgp_ipv6_allowas_in %}
    neighbor uplink allowas-in origin
{% endif %}
    neighbor uplink prefix-list only-host-prefixes out
  exit-address-family
{% endif %}

{% if tripleo_frr_bgp_l2vpn %}
  address-family l2vpn evpn
{% if tripleo_frr_bgp_l2vpn_uplink_activate|bool %}
    neighbor uplink activate
{% endif %}
{% if tripleo_frr_bgp_l2vpn_peers|length %}
    neighbor evpn-peer activate
{% endif %}
    advertise-all-vni
  exit-address-family
{% endif %}

{% if tripleo_frr_bgp_ipv4 %}
ip prefix-list only-default permit 0.0.0.0/0
ip prefix-list only-host-prefixes permit 0.0.0.0/0 ge 32

route-map rm-only-default permit 10
  match ip address prefix-list only-default
  set src {{ tripleo_frr_ipv4_src_ip if tripleo_frr_ipv4_src_ip != '' else hostvars[inventory_hostname][tripleo_frr_bgp_ipv4_src_network ~ '_ip'] }}

ip protocol bgp route-map rm-only-default
{{ tripleo_frr_conf_custom_ipv4 }}
{% endif %} {# tripleo_frr_bgp_ipv4 #}

{% if tripleo_frr_bgp_ipv6 %}
ipv6 prefix-list only-default permit ::/0
ipv6 prefix-list only-host-prefixes permit ::/0 ge 128

route-map rm-only-default permit 11
  match ipv6 address prefix-list only-default
  set src {{ tripleo_frr_ipv6_src_ip if tripleo_frr_ipv6_src_ip != '' else hostvars[inventory_hostname][tripleo_frr_bgp_ipv6_src_network ~ '_ip'] }}


ipv6 protocol bgp route-map rm-only-default
{{ tripleo_frr_conf_custom_ipv6 }}
{% endif %}

{% if tripleo_frr_zebra_nht_resolve_via_default %}
ip nht resolve-via-default
{% endif %}

{% if tripleo_frr_bfd %}
bfd
  profile tripleo
    detect-multiplier {{ tripleo_frr_bfd_detect_multiplier }}
    transmit-interval {{ tripleo_frr_bfd_transmit_interval }}
    receive-interval {{ tripleo_frr_bfd_receive_interval }}
{% endif %}
