[DEFAULT]
debug={{ tripleo_frr_ovn_bgp_agent_debug }}
reconcile_interval={{ tripleo_frr_ovn_bgp_agent_reconcile_interval }}
expose_tenant_networks={{ tripleo_frr_ovn_bgp_agent_expose_tenant_networks }}
expose_ipv6_gua_tenant_networks={{ tripleo_frr_ovn_bgp_agent_expose_ipv6_gua_tenant_networks }}
driver={{ tripleo_frr_ovn_bgp_agent_driver }}
bgp_AS={{ tripleo_frr_ovn_bgp_agent_bgp_as }}
ovsdb_connection={{ tripleo_frr_ovn_bgp_agent_ovsdb_connection }}

{% if tripleo_frr_ovn_bgp_agent_internal_tls_enable %}
ovn_sb_private_key={{ tripleo_frr_ovn_bgp_agent_private_key }}
ovn_sb_certificate={{ tripleo_frr_ovn_bgp_agent_certificate }}
ovn_sb_ca_cert={{ tripleo_frr_ovn_bgp_agent_ca_cert }}
{% endif %}

[agent]
root_helper={{ tripleo_frr_ovn_bgp_agent_root_helper }}
root_helper_daemon={{ tripleo_frr_ovn_bgp_agent_root_helper_daemon }}
