---
- name: Ensure output dirs
  file:
    path: "{{ ansible_user_dir }}/zuul-output/logs"
    state: directory

- name: Directories needing root
  become: true
  block:
    - name: Ensure ci directories
      file:
        path: "/etc/ci"
        state: "directory"

    - name: Ensure ci mirror file
      file:
        path: "/etc/ci/mirror_info.sh"
        state: "touch"

    - name: Copy repos directory to opt workspace
      copy:
        src: /etc/yum.repos.d
        dest: /opt/
        remote_src: true
        mode: "0777"

  # FIXME(chandankumar): Downgrade ontainers-common due to
  # https://bugs.launchpad.net/tripleo/+bug/1988500 and
  # https://bugzilla.redhat.com/show_bug.cgi?id=2123611
- name: Downgrade containers-common
  shell: |
    sudo dnf -y downgrade containers-common-1-40.el9
  become: true
