# {{ ansible_managed }}

[global]
slaveOnly 1
domainNumber {{ tripleo_ptp_slave_mode }}
time_stamping {{ (tripleo_ptp_hardware_offload | bool) | ternary('hardware', 'software') }}
network_transport {{ tripleo_ptp_transport }}
udp_ttl 1

{% for interface in tripleo_ptp_interfaces %}
[{{ interface }}]
{% endfor %}
