---
network_config:
- type: interface
  name: nic1
  mtu: {{ ctlplane_mtu }}
  dns_servers: {{ ctlplane_dns_nameservers }}
  domain: {{ dns_search_domains }}
  routes: {{ ctlplane_host_routes }}
  use_dhcp: false
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_subnet_cidr }}
{% for network in networks_all if network not in networks_skip_config %}
{% if network not in ["External", "Tenant"] and network in role_networks %}
- type: interface
  name: nic{{ loop.index +1 }}
  mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
  use_dhcp: false
  addresses:
  - ip_netmask:
      {{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}
  routes: {{ lookup('vars', networks_lower[network] ~ '_host_routes') }}
{% elif network in role_networks or 'external_bridge' in role_tags %}
- type: ovs_bridge
{% if network == 'External' %}
  name: {{ neutron_physical_bridge_name }}
{% else %}
  name: {{ 'br-' ~ networks_lower[network] }}
{% endif %}
  mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
  dns_servers: {{ ctlplane_dns_nameservers }}
  use_dhcp: false
  addresses:
  - ip_netmask:
      {{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}
  routes: {{ lookup('vars', networks_lower[network] ~ '_host_routes') }}
  members:
  - type: interface
    name: nic{{loop.index + 1}}
    mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
    use_dhcp: false
    primary: true
{% endif %}
{% endfor %}
