#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}
# This inventory is only used to configure members of the ceph clients role

[clients]
{% for host in mon_client_hosts|unique %}
{% if hostvars[host]['ansible_ssh_user'] is defined and hostvars[host]['ansible_ssh_user']|length > 0 %}
{{ hostvars[host]['ansible_host'] }} ansible_ssh_user={{ hostvars[host]['ansible_ssh_user'] }}
{% else %}
{{ hostvars[host]['ansible_host'] }}
{% endif %}
{% endfor %}
[mons]
[osds]
[rgws]
[mdss]
[grafana-server]
