---
tripleo_ceph_client_fsid: {{ tripleo_cephadm_fsid }}
tripleo_ceph_client_cluster: {{ tripleo_cephadm_cluster }}
external_cluster_mon_ips: "{{ external_cluster_mon_ips }}"
keys:
{% for cephx in tripleo_cephadm_keys %}
- name: {{ cephx.name }}
  key: {{ cephx.key }}
  caps:
{%  for key, value in cephx.caps.items() %}
    {{ key }}: {{ value }}
{%  endfor %}
{% endfor %}
