#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if tripleo_cephadm_ceph_nfs_dynamic_exports | bool and not tripleo_cephadm_ceph_nfs_rados_backend | bool %}
%include /etc/ganesha/export.d/INDEX.conf
{% endif %}

NFS_Core_Param
{
{% if tripleo_cephadm_ceph_nfs_bind_addr is defined %}
       Bind_Addr={{ tripleo_cephadm_ceph_nfs_bind_addr }};
{% endif %}
}

{% if tripleo_cephadm_ceph_nfs_disable_caching | bool or nfs_file_gw | bool %}
EXPORT_DEFAULTS {
        Attr_Expiration_Time = 0;
}

CACHEINODE {
        Dir_Chunk = 0;

        NParts = 1;
        Cache_Size = 1;
}
{% endif %}

{% if tripleo_cephadm_ceph_nfs_rados_backend | bool %}
RADOS_URLS {
   ceph_conf = '/etc/ceph/{{ tripleo_cephadm_cluster }}.conf';
   userid = "{{ tripleo_cephadm_ceph_nfs_ceph_user }}";
}
%url rados://{{ cephfs_data_pool.name }}/{{ tripleo_cephadm_nfs_rados_export_index }}

NFSv4 {
        RecoveryBackend = 'rados_kv';
        IdmapConf = "{{ tripleo_cephadm_idmap_conf }}";
}
RADOS_KV {
        ceph_conf = '/etc/ceph/{{ tripleo_cephadm_cluster }}.conf';
        userid = "{{ tripleo_cephadm_ceph_nfs_ceph_user }}";
        pool = "{{ cephfs_data_pool.name }}";
}
{% endif %}


LOG {
        Facility {
                name = FILE;
                destination = "/var/log/ganesha/ganesha.log";
                enable = active;
        }
}
