{
    "files": {
        "grafana.ini": [
            "[users]",
            "  default_theme = light",
            "[auth.anonymous]",
            "  enabled = true",
            "  org_name = 'Main Org.'",
            "  org_role = 'Viewer'",
            "[server]",
            "  protocol = {{ tripleo_cephadm_dashboard_protocol }}",
            "  cert_file = /etc/grafana/certs/cert_file",
            "  cert_key = /etc/grafana/certs/cert_key",
            "  http_port = {{ tripleo_cephadm_grafana_port }}",
            "  http_addr = {{ grafana_addr }}",
            "[security]",
            "  admin_user = {{ tripleo_cephadm_grafana_admin_user }}",
            "  admin_password = {{ tripleo_cephadm_grafana_admin_password }}",
            "  allow_embedding = true"
        ],
        "provisioning/datasources/ceph-dashboard.yml": [
            "deleteDatasources:",
            "  - name: 'Dashboard'",
            "    orgId: 1",
            " ",
            "datasources:",
            "  - name: 'Dashboard'",
            "    type: 'prometheus'",
            "    access: 'proxy'",
            "    orgId: 1",
            "    url: 'http://localhost:{{ tripleo_cephadm_prometheus_port }}'",
            "    basicAuth: false",
            "    isDefault: true",
            "    editable: false"
        ],
        "certs/cert_file": [],
        "certs/cert_key": []
    }
}
