start_order: 2
image: "{{ tripleo_keystone_image }}"
net: host
privileged: false
restart: always
healthcheck:
  test: /openstack/healthcheck
volumes:
  {{ tripleo_container_standalone_volumes | default([]) + tripleo_keystone_volumes + tripleo_keystone_logging_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
