start_order: 4
image: {{ tripleo_keystone_image }}
user: root
net: host
privileged: false
restart: always
healthcheck:
  test: '/usr/share/openstack-tripleo-common/healthcheck/cron keystone'
command: ['/bin/bash', '-c', '/usr/local/bin/kolla_set_configs && /usr/sbin/crond -n']
volumes:
  {{ tripleo_container_standalone_volumes | default([]) + tripleo_keystone_volumes + tripleo_keystone_logging_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
