start_order: 4
image: {{ tripleo_keystone_image }}
user: root
net: host
privileged: false
restart: always
healthcheck:
  test: '/usr/share/openstack-tripleo-common/healthcheck/cron keystone'
command: ['/bin/bash', '-c', '/usr/local/bin/kolla_set_configs && /usr/sbin/crond -n']
volumes:
  {% set keystone_volumes = [] %}
  {%- set keystone_volumes =
        keystone_volumes +
        tripleo_keystone_common_volumes +
        tripleo_keystone_volumes +
        tripleo_keystone_logging_volumes +
        tripleo_keystone_internal_tls_volumes -%}
  {%- if tripleo_keystone_enable_internal_tls -%}
  {%-   set keystone_volumes =
          keystone_volumes + tripleo_keystone_internal_tls_ca_file -%}
  {%- endif -%}
  {{ keystone_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
