start_order: 3
action: exec
user: root
command:
  [ 'keystone', '/usr/bin/bootstrap_host_exec', 'keystone' ,'keystone-manage', 'bootstrap' ]
environment:
  KOLLA_BOOTSTRAP: true
  OS_BOOTSTRAP_PASSWORD: {{ tripleo_keystone_admin_password }}
  OS_BOOTSTRAP_USERNAME: 'admin'
  OS_BOOTSTRAP_PROJECT_NAME: 'admin'
  OS_BOOTSTRAP_ROLE_NAME: 'admin'
  OS_BOOTSTRAP_SERVICE_NAME: 'keystone'
  OS_BOOTSTRAP_ADMIN_URL: {{ tripleo_keystone_admin_url }}
  OS_BOOTSTRAP_PUBLIC_URL: {{ tripleo_keystone_public_url }}
  OS_BOOTSTRAP_INTERNAL_URL: {{ tripleo_keystone_internal_url }}
  OS_BOOTSTRAP_REGION_ID: {{ tripleo_keystone_region }}
