# Managed by tripleo-ansible/tripleo_nftables

{% set chains = namespace(chains=[]) %}
{%- for ruleset in tripleo_nftables_rules %}
{%    set rule=ruleset['rule'] %}
{%    set chain_key = rule.get('chain', 'INPUT') ~ rule.get('table', 'filter') %}
{%-   if chain_key not in chains.chains %}
{%-     if 'extras' not in rule or rule['extras'].get('ensure', 'present') in ['enabled', 'present'] %}
# Create chain TRIPLEO_{{ rule.get('chain', 'INPUT') }} in {{rule.get('table', 'filter') }} table
add chain inet {{ rule.get('table', 'filter') }} TRIPLEO_{{ rule.get('chain', 'INPUT') }}
{%      endif %}
{%      set _ = chains.chains.append(chain_key) %}
{%    endif %}
{% endfor %}
