{%- set ns = namespace(_dport='') %}
{%- if 'dport' in rule %}
{%    if rule['dport'] is iterable -%}
{%      set ns._dport = rule['dport'] |join(',') -%}
{%    else -%}
{%      set ns._dport = rule['dport'] -%}
{%    endif -%}
{%- endif %}
{#- This is for legacy things - Really, use dport... #}
{%- if 'port' in rule %}
{%    if rule['port'] is iterable -%}
{%      set ns._dport = rule['port'] |join(',') -%}
{%    else -%}
{%      set ns._dport = rule['port'] -%}
{%    endif -%}
{%- endif %}
{%- if ns._dport != '' %}
 {{ rule.get('proto', false)|ternary('', 'tcp ') }}dport { {{ ns._dport |replace(':', '-') }} }
{%- endif %}
