{%- if 'action' in rule %}
{%-   if (rule['action']|lower) not in ['insert', 'append'] %}
{%-     set _ = rule.update({'jump': rule['action']}) %}
{%-   endif %}
{%- endif %}
{%- if 'jump' in rule %}
{%    if (rule['jump']|lower) not in ['accept', 'drop', 'log', 'masquerade', 'notrack', 'return'] %}
 jump {{ rule['jump'] }}
{%-   elif (rule['jump']|lower) == 'log' %}
{%-     include 'templates/jump-log.j2' %}
{%-   else %}
 {{ rule['jump']|lower }}
{%-   endif %}
{%- else %}
 accept
{%- endif %}
