#!/usr/sbin/nft -f
# Managed by tripleo-ansible/tripleo_nftables
# Valid starting nft-0.9.8

{%- for ruleset in tripleo_nftables_rules %}
{%    set rule=ruleset['rule'] %}
{%    set name=ruleset['rule_name'] %}
{%-   if 'extras' not in rule or rule['extras'].get('ensure', 'present') in ['enabled', 'present'] %}
# {{ rule.get('rule_name', name) }} {{ rule }}
add rule
{%-     include 'templates/ipversion.j2' %}
 {{ rule.get('table', 'filter') }} TRIPLEO_{{ rule.get('chain', 'INPUT') }}
{%-     include 'templates/interface.j2' %}
{%-     include 'templates/source.j2' %}
{%-     include 'templates/sport.j2' %}
{%-     include 'templates/destination.j2' %}
{%-     include 'templates/protocol.j2' %}
{%-     include 'templates/dport.j2' %}
{%-     include 'templates/state.j2' %}
{%-     include 'templates/limit.j2' %}
{%-     include 'templates/limit_burst.j2' %}
 counter
{%-     include 'templates/jump.j2' %}
 comment "{{rule.get('rule_name', name) }}"

{%   endif %}
{% endfor %}

# Lock down INPUT chains
add chain inet filter INPUT { policy drop; }
