# This configuration file is generated automatically
# by the backup-and-restore role part of TripleO
# Ansible. No not edit this file, all changes
# will be lost. Refer to the following URL for
# more information and implementation details:
# https://opendev.org/openstack/tripleo-ansible

BACKUP_PROG_OPTIONS+=( --anchored --xattrs-include='*.*' --xattrs )
{% for item in (tripleo_backup_and_restore_rescue_config | dict2items) %}
{{ item.key }}={{ item.value }}
{% endfor %}
