## {{ ansible_managed }}

{% for k, v in tripleo_sshd_server_options.items() %}
{%   if (v is iterable) and (v is not string) %}
{%     set vars = (v | unique) %}
{%     for var in vars %}
{{ k }} {{ var }}
{%     endfor %}
{%   else %}
{{ k }} {{ v }}
{%   endif %}
{% endfor %}
