# TODO: rework it for ansible, no puppet
start_order: 1
detach: false
cgroupns: host
net: host
pid: host
user: root
command:
  - /container_puppet_apply.sh
  - '4'
  - file
  - 'include ::tripleo::profile::base::nova::virtlogd_wrapper'
image: {{ tripleo_nova_libvirt_container_image }}
volumes:
  {% set nova_libvirt_volumes = [] %}
  {%- set nova_libvirt_volumes +=
    tripleo_nova_libvirt_container_puppet_apply_volumes +
    tripleo_nova_libvirt_internal_tls_volumes +
    ['/var/lib/container-config-scripts:/var/lib/container-config-scripts:shared,z'] -%}
  {{ tripleo_nova_libvirt_common_volumes + nova_libvirt_volumes }}
environment:
  # NOTE: this should force this container to re-run on each
  # update (scale-out, etc.)
  TRIPLEO_DEPLOY_IDENTIFIER: {{ tripleo_deploy_identifier }}
