# TODO: rework it for ansible, no puppet
detach: false
image: {{ tripleo_nova_libvirt_container_image }}
security_opt:
  - label=disable
privileged: false
user: root
cgroupns: host
net: host
command: /nova_libvirt_init_secret.sh {{ tripleo_nova_libvirt_ceph_multiconfig_info | join(' ') }}
volumes:
  {% set nova_libvirt_volumes = [] %}
  {%- set nova_libvirt_volumes +=
        tripleo_nova_libvirt_common_volumes +
        ['/var/lib/config-data/puppet-generated/nova_libvirt/etc/nova:/etc/nova',
        '/etc/libvirt:/etc/libvirt', '/run/libvirt:/run/libvirt:shared',
        '/var/lib/libvirt:/var/lib/libvrt:shared',
        '/var/lib/container-config-scripts/nova_libvirt_init_secret.sh:/nova_libvirt_init_secret.sh:ro',
        {{ tripleo_nova_libvirt_ceph_config_path }} ~ ':/etc/ceph:ro' ] -%}
  {{ tripleo_nova_libvirt_common_volumes + nova_libvirt_volumes }}
environment:
  LIBVIRT_DEFAULT_URI: qemu:///system
