start_order: 1
image: {{ tripleo_nova_libvirt_container_image }}
ulimit: {{ tripleo_nova_libvirt_container_ulimit }}
cgroupns: host
net: host
pid: host
pids_limit: {{ tripleo_nova_libvirt_container_pids_limit }}
privileged: true
security_opt:
  - label=level:s0
  - label=type:spc_t
  - label=filetype:container_share_t
restart: always
depends_on:
{% if tripleo_nova_libvirt_enable_virtlogd_container_wrapper %}
  - tripleo_nova_virtlogd_wrapper.service
{% else %}
  - tripleo_nova_virtlogd.service
{% endif -%}
volumes:
  {{ tripleo_nova_libvirt_volumes +
     ['/var/lib/kolla/config_files/nova_virtsecretd.json:/var/lib/kolla/config_files/config.json:ro'] }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
