detach: false
image: {{ tripleo_nova_libvirt_container_image }}
security_opt:
  - label=disable
privileged: false
user: root
cgroupns: host
net: host
command: bash /nova_libvirt_init_secret.sh {{ tripleo_nova_libvirt_ceph_multiconfig_info | join(' ') }}
volumes:
  {% set nova_libvirt_volumes = [] %}
  {%- set nova_libvirt_volumes =
        ['/var/lib/config-data/ansible-generated/nova_libvirt/etc/nova:/etc/nova',
        '/var/lib/container-config-scripts/nova_libvirt_init_secret.sh:/nova_libvirt_init_secret.sh:ro',
        tripleo_nova_libvirt_ceph_config_path ~ ':/etc/ceph:ro' ] -%}
  {{ tripleo_nova_libvirt_common_volumes + nova_libvirt_volumes | unique | list }}
environment:
  LIBVIRT_DEFAULT_URI: qemu:///system
