start_order: 0
image: {{ tripleo_nova_libvirt_container_image }}
ulimit: {{ tripleo_nova_libvirt_container_ulimit }}
cgroupns: host
net: host
pid: host
pids_limit: {{ tripleo_nova_libvirt_container_pids_limit }}
security_opt:
  - label=disable
cap_add: SYS_ADMIN
restart: always
depends_on: {% if tripleo_nova_libvirt_enable_virtlogd_container_wrapper%}tripleo_nova_virtlogd_wrapper.service{% else %}tripleo_nova_virtlogd.service{% endif %}
volumes:
  {{ tripleo_nova_libvirt_volumes +
     ['/etc/libvirt/qemu:/etc/libvirt/qemu:ro',
      '/var/lib/kolla/config_files/nova_virtlogd.json:/var/lib/kolla/config_files/config.json:ro',
      tripleo_nova_libvirt_virtlogd_wrapper_virtlogd_process_wrapper ~ ':/usr/local/bin/virtlogd_wrapper:ro'] }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
