[{{ tripleo_mysql_client_read_default_group }}]
{% if (tripleo_mysql_client_bind_address | ansible.netcommon.ipaddr) %}
bind_address={{ tripleo_mysql_client_bind_address }}]
{% endif %}
{% if tripleo_mysql_client_enable_ssl %}
ssl=1
ssl-ca={{ tripleo_mysql_client_ssl_ca }}
[client]
ssl=1
ssl-ca={{ tripleo_mysql_client_ssl_ca }}
{% endif %}
