image: {{ tripleo_iscsid_image }}
net: host
privileged: true
restart: always
healthcheck:
  test: /openstack/healthcheck
volumes:
  {{ tripleo_container_standalone_common_volumes | default([]) + tripleo_iscsid_volumes }}
environment:
  KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
