- name: default
  # The name is immutable. There will be no option to change the name after
  # creation and the only way will to change it will be to delete it
  # (and all zones associated with it) and recreate it.
  description: Default Pool

  attributes: {}

  # List out the NS records for zones hosted within this pool
  # This should be a record that is created outside of designate, that
  # points to the public IP of the controller node.
  ns_records:
    {% for nameserver in designate_bind_node_ips -%}
    - hostname: ns{{ loop.index }}.{{ pool_zone_domain }}.
      priority: {{ loop.index }}
    {% endfor %}

  # List out the nameservers for this pool. These are the actual BIND servers.
  # We use these to verify changes have propagated to all nameservers.
  nameservers:
    {% for nameserver in groups.designate_bind -%}

    - host: {{ hostvars[nameserver].tripleo_dns_listen_interfaces[0] }}
      port: 53
    {% endfor %}

  # List out the targets for this pool. For BIND there will be one
  # entry for each BIND server, as we have to run rndc command on each server
  targets:
    {% for server in groups.designate_bind -%}
    - type: bind9
      description: BIND9 Server {{ loop.index }}

      # List out the designate-mdns servers from which BIND servers should
      # request zone transfers (AXFRs) from.
      # This should be the IP of the controller node.
      # If you have multiple controllers you can add multiple masters
      # by running designate-mdns on them, and adding them here.
      # XXX(beagles): these are just internal API atm but there really needs to
      # be a public VIP endpoint for each and will be addressed in a followup
      # patch.
      masters:
        {% for minidns_server in designate_mdns_node_ips -%}
        - host: {{ minidns_server }}
          port: 5354
        {% endfor %}

      # BIND Configuration options
      options:
        host: {{ hostvars[server].tripleo_dns_listen_interfaces[0] }}
        port: 53
        rndc_host: {{ hostvars[server].tripleo_dns_listen_interfaces[0] }}
        rndc_port:  953
        rndc_config_file: {{ keyfile_base_path|default('/etc/designate/private/bind') }}{{ loop.index }}.conf

    {% endfor %}
