- name: default
  # The name is immutable. There will be no option to change the name after
  # creation and the only way will to change it will be to delete it
  # (and all zones associated with it) and recreate it.
  description: Default Pool

  attributes: {}

  # List out the NS records for zones hosted within this pool
  # This should be a record that is created outside of designate, that
  # points to the public IP of the controller node.
  ns_records:
    {% for ns_record in designate_bind_pool_ns_records -%}
      {% if ns_record.endswith('.') -%}
    - hostname: {{ ns_record }}
      {% else -%}
    - hostname: {{ ns_record }}.
      {% endif -%}
      priority: {{ loop.index }}
    {% endfor %}

  nameservers:
    {% for nameserver in groups.designate_bind -%}

    - host: {{ hostvars[nameserver].tripleo_dns_listen_interfaces[0] }}
      port: 53
    {% endfor %}

  targets:
    {% for server in groups.designate_bind -%}
    - type: bind9
      description: BIND9 Server {{ loop.index }}

      masters:
        {% for minidns_server in designate_mdns_node_ips -%}
        - host: {{ net_vip_map[service_net_map['public_network']] }}
          port: {{ minidns_proxy_base_port + loop.index -1 }}
        {% endfor %}

      # BIND Configuration options
      options:
        host: {{ hostvars[server].tripleo_dns_listen_interfaces[0] }}
        port: 53
        rndc_host: {{ hostvars[server].tripleo_dns_listen_interfaces[0] }}
        rndc_port:  953
        rndc_config_file: {{ keyfile_base_path|default('/etc/designate/private/bind') }}{{ loop.index }}.conf

    {% endfor %}

    # Configure targets for user provided bind servers.
    {% for server in tripleo_external_bind_servers -%}
    - type: bind9
      description: External BIND9 Server {{ loop.index }}

      masters:
        {% for minidns_server in designate_mdns_node_ips -%}
        - host: {{ net_vip_map[service_net_map['public_network']] }}
          port: {{ minidns_proxy_base_port + loop.index -1 }}
        {% endfor %}

      # BIND options:
      options:
        host: {{ server.host }}
        port: {{ server.port|default(53) }}
        rndc_host: {{ server.rndc_host|default(server.host) }}
        rndc_port: {{ server.rndc_port|default(953) }}
        rndc_config_file: {{ keyfile_base_path|default('/etc/designate/private/xbind') }}{{ loop.index }}.conf
    {% endfor %}
