start_order: 4
image: {{ tripleo_nova_compute_container_image }}
user: nova
net: host
detach: false
volumes:
    {% set nova_compute_volumes = [] %}
    {%- set nova_compute_volumes =
        nova_compute_volumes +
        tripleo_nova_compute_common_volumes +
        ['/var/lib/kolla/config_files/nova_wait_for_compute_service.json:/var/lib/kolla/config_files/config.json:ro'] +
        ['/var/lib/container-config-scripts:/container-config-scripts'] +
        tripleo_nova_compute_logging_volumes -%}
    {{ nova_compute_volumes }}
environment:
    KOLLA_CONFIG_STRATEGY: COPY_ALWAYS
    __OS_DEBUG: {{ tripleo_nova_compute_debug or tripleo_debug }}
