image: {{ tripleo_nova_compute_container_image }}
net: none
user: root
security_opt:
  - label=disable
privileged: false
detach: false
volumes:
  - /var/lib/nova:/var/lib/nova:shared
  - /var/lib/_nova_secontext:/var/lib/_nova_secontext:shared,z
  - /var/lib/container-config-scripts:/container-config-scripts:z
command: "python3 /container-config-scripts/nova_statedir_ownership.py"
environment:
  TRIPLEO_DEPLOY_IDENTIFIER: {{ tripleo_nova_compute_deploy_identifier }}
  __OS_DEBUG: {{ tripleo_nova_compute_debug or tripleo_debug }}
  NOVA_STATEDIR_OWNERSHIP_SKIP: {{ tripleo_nova_compute_statedir_ownership_skip | join(':') }}
