command:
{%- if tripleo_nova_compute_startup_delay != 0 -%}
  '/var/lib/nova/delay-nova-compute --delay {{ tripleo_nova_compute_startup_delay }} --nova-binary'
{% elif tripleo_nova_compute_enable_instance_ha -%}
  '/var/lib/nova/instanceha/check-run-nova-compute'
{% else %}
  '/usr/bin/nova-compute'
{% endif -%}
config_files:
  - source: "/var/lib/kolla/config_files/src/*"
    dest: "/"
    merge: true
    preserve_properties: true
  - source: "/var/lib/kolla/config_files/src-ceph/"
    dest: "/etc/ceph/"
    merge: true
    preserve_properties: true
permissions:
  - path: /var/log/nova
    owner: nova:nova
    recurse: true
  - path: {{ "/etc/ceph/" ~ tripleo_nova_compute_ceph_cluster_name ~ ".client." ~ tripleo_nova_compute_ceph_client_user_name ~ ".keyring" }}
    owner: nova:nova
    perm: '0600'
{% for _, store in tripleo_nova_compute_glance_multistore_config.items() %}
  - path: /etc/ceph/{{ store.CephClusterName | default(tripleo_nova_compute_ceph_cluster_name) }}.client.{{ store.CephClientUserName | default(tripleo_nova_compute_ceph_client_user_name) }}.keyring
    owner: nova:nova
    perm: '0600'
{% endfor %}
{% for _, store in tripleo_nova_compute_cinder_rbd_multi_config.items() %}
  - path: /etc/ceph/{{ store.CephClusterName | default(tripleo_nova_compute_ceph_cluster_name) }}.client.{{ store.CephClientUserName | default(tripleo_nova_compute_ceph_client_user_name) }}.keyring
    owner: nova:nova
    perm: '0600'
{% endfor %}
