key "rndc-key" {
        algorithm hmac-sha256;
        secret "{{ server_rndc_key|default(designate_rndc_key) }}";
};

options {
{% set designate_worker_source_address = hostvars[inventory_hostname][designate_worker_network + "_ip"] %}

{% if designate_worker_source_address|ipv4 %}
    default-source-address {{ designate_worker_source_address }};
{% elif designate_worker_source_address|ipv6 %}
    default-source-address-v6 {{ designate_worker_source_address }};
{% endif %}
    default-key "rndc-key";
};
