[default]
{% if collectd_sensubility_log_file is defined %}
log_file={{ collectd_sensubility_log_file }}
{% endif %}
{% if collectd_sensubility_log_level is defined %}
log_level={{ collectd_sensubility_log_level }}
{% endif %}

[sensu]
{% if collectd_sensubility_transport == 'sensu' %}
{% if collectd_sensubility_connection is defined %}
connection={{ collectd_sensubility_connection }}
{% endif %}
subscriptions={{ collectd_sensubility_subscriptions | default([]) | join(',') }}
{% if collectd_sensubility_client_name is defined %}
client_name={{ collectd_sensubility_client_name }}
{% endif %}
{% if collectd_sensubility_client_address is defined %}
client_address={{ collectd_sensubility_client_address }}
{% endif %}
{% endif %}
{% if collectd_sensubility_keepalive_interval is defined %}
keepalive_interval={{ collectd_sensubility_keepalive_interval }}
{% endif %}
{% if collectd_sensubility_tmp_dir is defined %}
tmp_base_dir={{ collectd_sensubility_tmp_dir }}
{% endif %}
{% if collectd_sensubility_shell_path is defined %}
shell_path={{ collectd_sensubility_shell_path }}
{% endif %}
{% if collectd_sensubility_worker_count is defined %}
worker_count={{ collectd_sensubility_worker_count }}
{% endif %}
{% if collectd_sensubility_checks is defined %}
checks={{ collectd_sensubility_checks | to_json }}
{% endif %}

[amqp1]
{% if collectd_sensubility_transport == 'amqp1' %}
{% if collectd_sensubility_client_address is defined and collectd_sensubility_amqp_port is defined %}
connection=amqp://{{ collectd_sensubility_client_address }}:{{ collectd_sensubility_amqp_port }}
{% endif %}
{% if collectd_sensubility_results_channel is defined %}
results_channel={{ collectd_sensubility_results_channel }}
{% endif %}
{% if collectd_sensubility_client_name is defined %}
client_name={{ collectd_sensubility_client_name }}
{% endif %}
{% if collectd_sensubility_results_format is defined %}
results_format={{ collectd_sensubility_results_format }}
{% endif %}
{% endif %}
