[Unit]
Description=Tripleo {{ tripleo_systemd_wrapper_service_name }} sync service

[Service]
{% if tripleo_systemd_wrapper_debug %}
Environment=SYSTEMD_LOG_LEVEL=debug
{% endif %}
Type=oneshot
ExecStart={{ tripleo_systemd_wrapper_service_dir }}/{{ tripleo_systemd_wrapper_service_name }}/sync
User=root
