# Source URL: https://raw.githubusercontent.com/coreos/etcd/master/etcd.conf.yml.sample
# This is the configuration file for the etcd server.

# Human-readable name for this member.
name: "{{ tripleo_etcd_name }}"

# Path to the data directory.
data-dir: "/var/lib/etcd/{{ tripleo_etcd_name }}.etcd"

# Path to the dedicated wal directory.
wal-dir: "{{ tripleo_etcd_wal_dir }}"

# Number of committed transactions to trigger a snapshot to disk
snapshot-count: {{ tripleo_etcd_snapshot_count }}

# Time (in milliseconds) of a heartbeat interval.
heartbeat-interval: {{ tripleo_etcd_heartbeat_interval }}

# Time (in milliseconds) for an election to timeout.
election-timeout: {{ tripleo_etcd_election_timeout }}

# Raise alarms when backend size exceeds the given quota. 0 means use the
# default quota.
quota-backend-bytes: {{ tripleo_etcd_quota_backend_bytes }}

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: "{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_peer_port}}"

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: "{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_client_port}}"

# Maximum number of snapshot files to retain (0 is unlimited)
max-snapshots: {{ tripleo_etcd_max_snapshots }}

# Maximum number of wal files to retain (0 is unlimited).
max-wals: {{ tripleo_etcd_max_wals }}

# Comma-separated white list of origins for CORS (cross-origin resource sharing).
cors: "{{ tripleo_etcd_cors }}"

# List of this member's peer URLs to advertise to the rest of the cluster.
# The URLs needed to be a comma-separated list.
initial-advertise-peer-urls: "{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_peer_port}}"

# List of this member's client URLs to advertise to the public.
# The URLs needed to be a comma-separated list.
advertise-client-urls: "{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_client_port}}"

# Discovery URL used to bootstrap the cluster.
discovery: "{{ tripleo_etcd_discovery }}"

# Valid values include 'exit', 'proxy'
discovery-fallback: "{{ tripleo_etcd_discovery_failback }}"

# HTTP proxy to use for traffic to discovery service.
discovery-proxy: "{{ tripleo_etcd_discovery_proxy }}"

# DNS domain used to bootstrap initial cluster.
discovery-srv: "{{ tripleo_etcd_discovery_srv }}"

{% set tripleo_etcd_initial_cluster = [] %}
{% for node in etcd_node_names %}
{{ tripleo_etcd_initial_cluster.append(node+'='+tripleo_etcd_protocol+'://'+node+':'+tripleo_etcd_peer_port) }}
{% endfor %}

# Initial cluster configuration for bootstrapping.
initial-cluster: "{{ tripleo_etcd_initial_cluster | join(',') }}"

# Initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: "{{ tripleo_etcd_initial_cluster_token }}"

# Initial cluster state ('new' or 'existing').
initial-cluster-state: "{{ tripleo_etcd_initial_cluster_state }}"

# Reject reconfiguration requests that would cause quorum loss.
strict-reconfig-check: {{ tripleo_etcd_strict_reconfig_check }}

# Enable runtime profiling data via HTTP server
enable-pprof: {{ tripleo_etcd_enable_pprof }}

# proxy
proxy: "{{ tripleo_etcd_proxy }}"

# Time (in milliseconds) an endpoint will be held in a failed state.
proxy-failure-wait: {{ tripleo_etcd_proxy_failure_wait }}

# Time (in milliseconds) of the endpoints refresh interval.
proxy-refresh-interval: {{ tripleo_etcd_refresh_interval }}

# Time (in milliseconds) for a dial to timeout.
proxy-dial-timeout: {{ tripleo_etcd_dial_timeout }}

# Time (in milliseconds) for a write to timeout.
proxy-write-timeout: {{ tripleo_etcd_write_timeout }}

# Time (in milliseconds) for a read to timeout.
proxy-read-timeout: {{ tripleo_etcd_read_timeout }}

client-transport-security:
  # Path to the client server TLS cert file.
  cert-file: "{{ tripleo_etcd_certificate_specs_service_certificate }}"

  # Path to the client server TLS key file.
  key-file: "{{ tripleo_etcd_certificate_specs_service_key }}"

  # Enable client cert authentication.
  client-cert-auth: {{ tripleo_etcd_enable_internal_tls }}

  # Path to the client server TLS trusted CA key file.
  trusted-ca-file: "{{ tripleo_etcd_trusted_ca_file }}"

  # Client TLS using generated certificates
  auto-tls: {{ tripleo_etcd_auto_tls }}

peer-transport-security:
  # Path to the peer server TLS cert file.
  cert-file: "{{ tripleo_etcd_certificate_specs_service_certificate }}"

  # Path to the peer server TLS key file.
  key-file: "{{ tripleo_etcd_certificate_specs_service_key }}"

  # Enable peer client cert authentication.
  client-cert-auth: {{ tripleo_etcd_enable_internal_tls }}

  # Path to the peer server TLS trusted CA key file.
  trusted-ca-file: "{{ tripleo_etcd_peer_trusted_ca_file }}"

  # Peer TLS using generated certificates.
  auto-tls: {{ tripleo_etcd_peer_auto_tls }}

# Enable debug-level logging for etcd.
debug: {{ tripleo_etcd_debug }}

# logger logs server-side operation
logger: "{{ tripleo_etcd_logger }}"

# Specify 'stdout' or 'stderr' to skip journald logging even when running under systemd.
log-outputs: {{ tripleo_etcd_log_outputs }}

# Force to create a new one member cluster.
force-new-cluster: {{ tripleo_etcd_force_new_cluster }}

# Compaction mode , can be periodic|revison
auto-compaction-mode: "{{ tripleo_etcd_auto_compaction_mode }}"

# Duration based compaction retention, defaulting to hours if no time unit is provided
auto-compaction-retention: "{{ tripleo_etcd_auto_compaction_retention }}"

# Enable etcd's grpc gateway for tooz etcd3gw driver
enable-grpc-gateway: {{ tripleo_etcd_enable_grpc_gateway }}
