#Etcd configuration

ETCD_NAME="{{ tripleo_etcd_name }}"
ETCD_DATA_DIR="/var/lib/etcd/{{ tripleo_etcd_name }}.etcd"
ETCD_WAL_DIR="{{ tripleo_etcd_wal_dir }}"
ETCD_SNAPSHOT_COUNT="{{ tripleo_etcd_snapshot_count }}"
ETCD_HEARTBEAT_INTERVAL="{{ tripleo_etcd_heartbeat_interval }}"
ETCD_ELECTION_TIMEOUT="{{ tripleo_etcd_election_timeout }}"
ETCD_QUOTA_BACKEND_BYTES= "{{ tripleo_etcd_quota_backend_bytes }}"
ETCD_LISTEN_PEER_URLS="{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_peer_port}}"
ETCD_LISTEN_CLIENT_URLS="{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_client_port}}"
ETCD_MAX_SNAPSHOTS="{{ tripleo_etcd_max_snapshots }}"
ETCD_MAX_WALS="{{ tripleo_etcd_max_wals }}"
ETCD_CORS="{{ tripleo_etcd_cors }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_peer_port}}"
ETCD_ADVERTISE_CLIENT_URLS="{{ tripleo_etcd_protocol }}://{{ tripleo_etcd_ip }}:{{ tripleo_etcd_client_port}}"
ETCD_DISCOVERY="{{ tripleo_etcd_discovery }}"
ETCD_DISCOVERY_FAILBACK="{{ tripleo_etcd_discovery_failback }}"
ETCD_DISCOVERY_PROXY="{{ tripleo_etcd_discovery_proxy }}"
ETCD_DISCOVERY_SRV="{{ tripleo_etcd_discovery_srv }}"

{% set tripleo_etcd_initial_cluster = [] %}
{% for node in etcd_node_names %}
{{ tripleo_etcd_initial_cluster.append(node+'='+tripleo_etcd_protocol+'://'+node+":"+tripleo_etcd_peer_port) }}
{% endfor %}

ETCD_INITIAL_CLUSTER="{{ tripleo_etcd_initial_cluster | join(',') }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ tripleo_etcd_initial_cluster_token }}"
ETCD_INITIAL_CLUSTER_STATE="{{ tripleo_etcd_initial_cluster_state }}"
ETCD_STRICT_RECONFIG_CHECK={{ tripleo_etcd_strict_reconfig_check }}
ETCD_ENABLE_PPROF={{ tripleo_etcd_enable_pprof }}
ETCD_PROXY="{{ tripleo_etcd_proxy }}"
ETCD_PROXY_FAILURE_WAIT={{ tripleo_etcd_proxy_failure_wait }}
ETCD_REFRESH_INTERVAL={{ tripleo_etcd_refresh_interval }}
ETCD_DIAL_TIMEOUT={{ tripleo_etcd_dial_timeout }}
ETCD_WRITE_TIMEOUT={{ tripleo_etcd_write_timeout }}
ETCD_READ_TIMEOUT={{ tripleo_etcd_read_timeout }}
ETCD_CERT_FILE="{{ tripleo_etcd_certificate_specs_service_certificate }}"
ETCD_KEY_FILE="{{ tripleo_etcd_certificate_specs_service_key }}"
ETCD_CLIENT_CERT_AUTH="{{ tripleo_etcd_enable_internal_tls }}"
ETCD_PEER_CERT_FILE="{{ tripleo_etcd_certificate_specs_service_certificate }}"
ETCD_PEER_KEY_FILE="{{ tripleo_etcd_certificate_specs_service_key }}"
ETCD_PEER_CLIENT_CERT_AUTH="{{ tripleo_etcd_enable_internal_tls }}"
ETCD_TRUSTED_CA_FILE="{{ tripleo_etcd_trusted_ca_file }}"
ETCD_AUTO_TLS={{ tripleo_etcd_auto_tls }}
ETCD_PEER_TRUSTED_CA_FILE="{{ tripleo_etcd_trusted_ca_file }}"
ETCD_PEER_AUTO_TLS={{ tripleo_etcd_peer_auto_tls }}
ETCD_DEBUG={{ tripleo_etcd_debug }}
ETCD_LOGGER="{{ tripleo_etcd_logger }}"
ETCD_LOG_OUTPUTS={{ tripleo_etcd_log_outputs }}
ETCD_FORCE_NEW_CLSUTER={{ tripleo_etcd_force_new_cluster }}
ETCD_AUTO_COMPACTION_NODE="{{ tripleo_etcd_auto_compaction_mode }}"
ETCD_AUTO_COMPACTION_RETENTION="{{ tripleo_etcd_auto_compaction_retention }}"
ETCD_ENABLE_GRPC_GATEWAY={{ tripleo_etcd_enable_grpc_gateway }}
