/var/log/containers/*/*log /var/log/containers/*/*/*log /var/log/containers/*/*err {
  {{ tripleo_logrotate_crond_rotation }}
  rotate {{ tripleo_logrotate_crond_rotate }}
  maxage {{ tripleo_logrotate_crond_purge_after_days }}
  # minsize 1 is required for GDPR compliance, all files in
  # /var/log/containers not managed with logrotate will be purged!
  minsize {{ tripleo_logrotate_crond_minsize | default(1) }}
  # Do not use size as it's not compatible with time-based rotation rules
  # required for GDPR compliance.
  maxsize {{ tripleo_logrotate_crond_maxsize | default(1) }}
  missingok
  {{ tripleo_logrotate_crond_notifempty | ternary('notifempty', '', omit) }}
  {{ tripleo_logrotate_crond_copytruncate | ternary('copytruncate', '', omit) }}
  {{ tripleo_logrotate_crond_delaycompress | ternary('delaycompress', '', omit) }}
  {{ tripleo_logrotate_crond_compress | ternary('compress', '', omit) }}
{% if tripleo_logrotate_crond_dateext -%}
  dateext
  {% if tripleo_logrotate_crond_dateformat -%}
  dateformat {{ tripleo_logrotate_crond_dateformat }}
  {% endif -%}
  {% if tripleo_logrotate_crond_dateyesterday -%}
  dateyesterday {{ tripleo_logrotate_crond_dateyesterday }}
  {% endif -%}
{% endif -%}
}
