---
driver:
  name: delegated
  options:
    managed: false
    login_cmd_template: >-
      ssh
      -o UserKnownHostsFile=/dev/null
      -o StrictHostKeyChecking=no
      -o Compression=no
      -o TCPKeepAlive=yes
      -o VerifyHostKeyDNS=no
      -o ForwardX11=no
      -o ForwardAgent=no
      {instance}
    ansible_connection_options:
      ansible_connection: ssh

log: true

platforms:
  - name: instance

provisioner:
  name: ansible
  config_options:
    defaults:
      fact_caching: jsonfile
      fact_caching_connection: /tmp/molecule/facts
  log: true
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
    ANSIBLE_ROLES_PATH: "${ANSIBLE_ROLES_PATH}:${HOME}/zuul-jobs/roles"
    ANSIBLE_LIBRARY: "${ANSIBLE_LIBRARY:-/usr/share/ansible/plugins/modules}"
    ANSIBLE_FILTER_PLUGINS: "${ANSIBLE_FILTER_PLUGINS:-/usr/share/ansible/plugins/filter}"

scenario:
  test_sequence:
    - prepare
    - converge
    - check
    - verify
    - cleanup

verifier:
  name: ansible
