[Unit]
Description={{ tripleo_podman_service_unit_description }}
Documentation=man:podman-system-service(1)
StartLimitIntervalSec=0

[Service]
Delegate=true
Type=exec
KillMode=process
Environment=LOGGING="--log-level=info"
ExecStart=/usr/bin/podman $LOGGING system service --time=0 unix://{{ tripleo_podman_socket_path }}

[Install]
WantedBy=default.target
