# File managed by tripleo-ansible/tripleo_httpd_config
{% set config_params = tripleo_httpd_config_default_httpd_conf|combine(tripleo_httpd_config_httpd_conf) %}
{% for conf_key, conf_val in config_params.items() %}
{{ conf_key }} {{ conf_val }}
{% endfor %}

ServerName "{{ tripleo_httpd_config_server_name }}"
ServerRoot "{{ tripleo_httpd_config_server_root }}"

<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>

<Directory />
  Options {{ tripleo_httpd_config_root_directory_options |join(' ') }}
  AllowOverride None
</Directory>

Include "/etc/httpd/conf/modules.conf"
Include "/etc/httpd/conf/ports.conf"

LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%a %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %s %b \"%{Referer}i\" \"%{User-agent}i\"" forwarded

IncludeOptional "/etc/httpd/conf.d/*.conf"
