# File managed by tripleo_ansible/tripleo_httpd_config
{% set modules_list = tripleo_httpd_config_default_mods|combine(tripleo_httpd_config_mods) %}
{% for module_name in modules_list %}
{%   set so_name = modules_list[module_name]|json_query('[].so_name')|join('') %}
{%   if so_name == '' %}
{%     set so_name = module_name %}
{%   endif %}
# BEGIN load module {{ module_name }}
LoadModule {{ module_name }}_module modules/mod_{{ so_name }}.so
{%   for module_config in modules_list[module_name] %}
{%     for config_key, config_value in module_config.items() %}
{%       if config_key != 'so_name' %}
{{ config_key }} {{ config_value }}
{%       endif %}
{%     endfor %}
{%   endfor %}
# END load module {{ module_name }}
{% endfor %}
