logging {
    channel default_channel {
        file "/var/log/bind/designate-{{ designate_bind_instance_name|default('bind') }}.log";
        print-time yes;
        print-category yes;
        print-severity yes;
        severity info;
    };

    channel debug_channel {
        file "/var/log/bind/designate-{{ designate_bind_instance_name|default('bind') }}-debug.log";
        print-time yes;
        print-category yes;
        print-severity yes;
        severity dynamic;
    };

    category default { default_channel; default_debug; };

    {% if designate_bind_enable_query_logging|default(false) %}
    channel query_channel {
        file "/var/log/bind/designate-{{ designate_bind_instance_name|default('bind') }}-query.log";
        print-time yes;
        print-category yes;
        print-severity yes;
        severity info;
    };
    category queries { query_channel; };
    {% endif %}
};
