options {
	allow-new-zones yes;
	directory "/var/named-persistent";

	{% if tripleo_dns_listen_interfaces[0]|ipv4 %}
	listen-on port 53 { {{ tripleo_dns_listen_interfaces[0] }};  };
	{% elif tripleo_dns_listen_interfaces[0]|ipv6 %}
	listen-on-v6 port 53 { {{ tripleo_dns_listen_interfaces[0] }};  };
	{% endif %}

	allow-notify { {{ tripleo_dns_listen_interfaces[0] }}; };

	{% if bind_lmdb_mapsize is defined %}
	lmdb-mapsize {{ bind_lmdb_mapsize }};
	{% endif %}

	minimal-responses yes;
	multi-master yes;
	querylog no;
	recursion no;
	version none;
	allow-query-cache { none; };
};
